* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "URW++", "Impact";
  }

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: beige;
    min-height: 100vh;
}

.header {
    font-size: 100px;
    color: aliceblue;
    display: flex;
    order: 1;
    width: 100%;
    min-height: 30vh;
    background-image: url(http://atkufa.ru/uploads/wallpapers/35218-triple-monitor-wallpapers-hd.jpg);
    background-repeat: no-repeat;
    background-position-y: 92%;
    background-size: cover;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #f6f5f5;
    order: 2;
}

.footer {
    display: flex;
    min-height: 5vh;
    flex-direction: column-reverse;
    background-color: #141315;
    order: 3;
}

.playDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 50px 15px 50px;
    justify-content: center;
    min-width: 500px;
    width: 500px;
}

.playButton {
    padding: 150px 0px 150px 0px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #4d88ff;
    box-shadow: 0px 15px#001133;
    font-size: 130px;
    text-align: center;
    margin: 10px;
}

.playButton:hover {
    background-color: royalblue;
}

.playButton:active{
    box-shadow: none;
    transform: translateY(15px);
}

.winBannerDiv {
    height: 50px;
}

.winBanner {
    animation: fadeOut 2.5s forwards;
    font-size: 60px;
    position: relative;
    color: black;
    pointer-events: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1; 
        bottom: -150px;
    }
    100% {
        opacity: 0;
        bottom: 40px;
    }
  }

.startOverButton {
    font-size: 130px;
    padding: 40px;
    margin: 10px;
    border-radius: 20%;
    cursor: pointer;
    border: none;
    background-color: crimson;
    box-shadow: 0px 15px #666;
}

.startOverButton:hover {
    background-color: firebrick;
}

.startOverButton:active{
    box-shadow: 0 5px #333;
    transform: translateY(4px);
}

.scoreDiv {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 15px 50px 15px 50px;
    border-radius: 2%;
    text-align: center;
    min-width: 570px;
    background-color: azure;
    box-shadow: 0 15px 15px #333;
}

.scoreDefinition {
    font-size: 150px;
}

.score {
    font-size: 250px;
}

@media screen and (max-width: 1200px) {
    .main {   
      flex-direction: column;
    }
    .playDiv {
        order: 1;
    }
    .scoreDiv {
        order: 2;
    }
    .highscoreDiv {
        order: 3;
    }
  }

.nextWinBanner {
    font-size: 50px;
}

.highscoreDiv {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 15px 50px 15px 50px;
    border-radius: 2%;
    text-align: center;
    min-width: 570px;
    background-color: azure;
    box-shadow: 0 15px 15px #333;
    font-size: 40px;
}

.highscoreDefinition {
    font-size: 100px;
}