/*Default styling and font */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "URW++", "Impact";
  }

/*Links */
a {
    color: #fff;
}

/*
---Page layout---
*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    font-size: 90px;
    color: #fff;
    display: flex;
    order: 1;
    width: 100%;
    min-height: 30vh;
    background-color: gray;
    background-image: url("/headerbackground.jpg");
    background-repeat: no-repeat;
    background-position-y: 92%;
    background-size: cover;
    justify-content: center;
}

.main {
    font-family: "URW++", "Impact";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #f6f5f5;
    order: 2;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 5vh;
    padding: 0 10vh 0 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: #141315;
    color: #fff;
    order: 3;
}


/*
---Center div with button, won points and next win---
*/
.playDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 50px 15px 50px;
    justify-content: center;
    min-width: 500px;
    width: 500px;
}

.playButton {
    padding: 150px 0px 150px 0px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #f04e30;
    box-shadow: 0px 15px #c52b0e;
    font-size: 130px;
    text-align: center;
    margin: 0px 10px 0px 10px;
    outline: none;
}

.startOverButton {
    font-size: 130px;
    padding: 40px;
    margin: 10px;
    border-radius: 20%;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #f04e30;
    box-shadow: 0px 15px #c52b0e;
    outline: none;
}

.winBannerDiv {
    height: 50px;
}

.winBanner {
    animation: fadeOut 2.5s forwards;
    font-size: 60px;
    position: relative;
    pointer-events: none;
}

.nextWinDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.nextWinDefinition {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    color: #ef3e1e;
    min-width: max-content;
    margin-right: 5px;
}

.nextWinPoints {
    margin-left: 5px;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    min-width: max-content;
}

/*Hover effects for all of the buttons*/
.playButton:hover, .startOverButton:hover, .welcomeSubmit:hover {
    background-color: #ef3e1e;
}

/*Click effects for all of the buttons*/
.playButton:active, .startOverButton:active, .welcomeSubmit:active {
    box-shadow: none;
    transform: translateY(15px);
}

/*Levitating effect for the win announcement */
@keyframes fadeOut {
    0% {
        opacity: 1; 
        bottom: -150px;
    }
    100% {
        opacity: 0;
        bottom: 40px;
    }
  }


/*Card style styling for rest of the divs inside main */
.highscoreDiv, .scoreDiv, .welcomeDiv {
    color: #141315;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 15px 50px 15px 50px;
    border-radius: 2%;
    text-align: center;
    min-width: 570px;
    background-color: #fff;
    box-shadow: 0px 15px 15px #333;
    font-size: 40px;
}


/*
---Right side div with player's current score---
*/
.scoreDefinition {
    font-size: 150px;
    color: #ef3e1e;
}

.score {
    font-size: 250px;
}


/*
---Left side div with the scoreboard---
*/
.highscoreDefinition {
    color: #ef3e1e;
    font-size: 100px;
}

.highscoreList {
    list-style-position: inside;
    padding: 20px
}


/*
---Div with the username submitting form---
*/
.welcomeDiv {
    min-height: 300px;
    width: max-content;
    padding: 30px;
    font-size: 60px;
}

.welcomeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ef3e1e;
}

.welcomeErrorText {
    font-size: 30px;
    color: #c52b0e;
}

.welcomeField {
    text-align: center;
    font-size: 50px;
    color: #141315;
}

.welcomeSubmit {
    font-size: 50px;
    margin: 50px;
    border-radius: 5%;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #f04e30;
    box-shadow: 0px 15px #c52b0e;
    text-align: center;
    padding: 10px;
}


/*Adjusting divs inside main for smaller views */
@media screen and (max-width: 1200px) {
    .main {   
      flex-direction: column;
    }
    .playDiv {
        order: 1;
    }
    .scoreDiv {
        order: 2;
    }
    .highscoreDiv {
        order: 3;
    }
}